<div ng-show="!isLoading" class="loaded">
    <h3>Book a room</h3>
    <form name="roomBookingForm">
        <fieldset>
            <span>
                <label>Room type:</label>
                <select name="roomType" ng-model="newBooking.roomType" ng-options="roomType.id as (roomType.title) for roomType in roomTypes" required>
                    <option value="">{{'None'}}</option>
                </select>
            </span>
            <span>
                <label>From date:</label>
                <input name="fromDate" type="date" ng-model="newBooking.fromDate" required />
            </span>
            <span>
                <label>Number of nights:</label>
                <input name="duration" type="number" ng-model="newBooking.duration" required />
            </span>
        </fieldset>
        <label ng-show="errorMessage">{{errorMessage}}</label><br />
        <button type="button" ng-click="save()">Book da room</button>
    </form>
</div>
<a href="#/booking">Back...</a>
<div ng-show="isLoading" class="loaded">Loading stuff...</div>
